/* Background */
body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* Main App */
.stApp {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* Title */
h1 {
    color: #38bdf8;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

h2, h3 {
    color: white;
}

/* Input Box */
textarea {
    border-radius: 15px !important;
    border: 2px solid #38bdf8 !important;
    background: #1e293b !important;
    color: white !important;
    font-size: 16px !important;
}

/* Button */
.stButton>button {
    width: 100%;
    background: linear-gradient(90deg, #2563eb, #38bdf8);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.stButton>button:hover {
    background: linear-gradient(90deg, #38bdf8, #2563eb);
    transform: scale(1.03);
}

/* Success Box */
.stSuccess {
    background: #14532d !important;
    border-radius: 12px;
    color: white !important;
}

/* Error Box */
.stError {
    background: #7f1d1d !important;
    border-radius: 12px;
    color: white !important;
}

/* Info Box */
.stInfo {
    background: #1e3a8a !important;
    border-radius: 12px;
    color: white !important;
}

/* Prediction Card */
.result-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    border-left: 6px solid #38bdf8;
    margin-top: 20px;
    color: white;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

/* Chat Bubble */
.user-msg {
    background: #2563eb;
    color: white;
    padding: 12px;
    border-radius: 15px;
    margin: 10px 0;
}

.bot-msg {
    background: #334155;
    color: white;
    padding: 12px;
    border-radius: 15px;
    margin: 10px 0;
}

/* Footer */
footer {
    visibility: hidden;
}